<div>
  <div *ngFor="let section of sections">
    <h3>Building Section</h3>
    <p>Servicing from {{section.bottomFloor}} to {{section.topFloor}} floors.</p>

    <h4>Elevators</h4>
    <mat-list *ngFor="let elevator of section.elevators">
      <mat-list-item
        [class.selected]="elevator === selectedElevator"
        (click)="onSelect(elevator)">
        Elevator #{{elevator.id}} is on floor {{elevator.currentFloor}}
        Doors are {{!!elevator.doorsClosed ? "closed" : "open"}}
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </div>
  <app-elevator [elevator]="selectedElevator"></app-elevator>
</div>
