<div>
  <div *ngFor="let section of sections">
    <h3>Building Section</h3>
    <p>Servicing from {{section.bottomFloor}} to {{section.topFloor}} floors.</p>

    <h4>Elevators</h4>
    <li *ngFor="let elevator of section.elevators"
      [class.selected]="elevator === selectedElevator"
      (click)="onSelect(elevator)">
        Elevator <span class="">{{elevator.id}}</span> is at {{elevator.currentFloor}} floor
    </li>
  </div>
  <app-elevator [elevator]="selectedElevator"></app-elevator>
</div>
