<div>
  <div *ngFor="let section of sections">
    <h3>Building Section</h3>
    <p>Servicing from {{section.bottomFloor}} to {{section.topFloor}} floors.</p>

    <h4>Elevators</h4>
    <mat-list>
      <mat-list-item *ngFor="let elevator of section.elevators"
      [class.selected]="elevator === selectedElevator"
      (click)="onSelect(elevator)">
        <mat-icon></mat-icon>
        <p>Floor {{elevator.currentFloor}} {{!!elevator.movementStatus() ? " - " : ""}} {{elevator.movementStatus()}}</p>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
  </div>
  <app-elevator [elevator]="selectedElevator"></app-elevator>
</div>